:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-decoration: none;
}

.navbar-brand {
  font-family: "Libre Bodoni", serif;
}

.nav-item {
  font-family: "Libre Bodoni", serif;
}

body {
  margin: 60px auto;
  max-width: 800px;
  background-color: #f7e2e2;
}

h1 h2 h3 {
  margin: 0;
  color: #1a132f;
}

h1 {
  font-size: 65px;
  opacity: 0.9;
  text-align: center;
  font-family: "Libre Bodoni", serif;
}

h2 {
  font-size: 40px;
  opacity: 0.7;
  text-align: center;
  font-family: "Libre Bodoni", serif;
}

h3 {
  font-size: 30px;
  text-align: center;
  font-family: "Libre Bodoni", serif;
}

h4 {
  font-size: 25px;
  text-align: center;
  font-family: "Libre Bodoni", serif;
}

p {
  background: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
  opacity: 0.8;
}

.project-links {
  display: flex;
  justify-content: center;
  background: #5b7db1;
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  text-decoration: var(--text-decoration);
  padding: 15px;
  text-transform: capitalize;
  font-family: "Libre Bodoni", serif;
}

.project-links:hover {
  text-decoration: none;
  color: white;
}

.gitHubLink {
  text-decoration: var(--text-decoration);
  color: white;
}

.gitHubLink:hover {
  text-decoration: var(--text-decoration);
  color: white;
}

.header-photo {
  border-radius: 10px;
  max-width: 63%;
}

.project-photo {
  max-width: auto;
  height: auto;
  border-radius: 100%;
}

@media (max-width: 600px) {
  .header-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .project-photo {
    display: none;
  }
}

.row {
  display: flex;
}

.btn btn-primary {
  background-color: #5b7db1 !important;
}

.card {
  border-color: #5b7db1;
}

.contact-footer {
  text-align: center;
}

.blockquote-footer {
  font-family: "Libre Bodoni", serif;
}

.footer {
  text-align: center;
  font-family: "Libre Bodoni", serif;
  color: white;
  padding: 20px;
  border-radius: 5px;
  opacity: 0.5;
  background-color: #61a4bc;
}
